* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee5e5;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: Lato, sans-serif;
}

a:visited, a:link, a:active {
    text-decoration: none;
}

.homeButton {
    margin: 0 0.25em;
    padding: 0 0.5em;
    background-color: transparent;
    height: 2.2em;
    width: auto;
    font-size: 1rem;
    color: #090446;
    border-style: hidden;  
}

.homeButton:hover {
    background-color: #090446;
    color: #fff;
    border-color: #090446;
    border-radius: 35px;
}

.orangeButton {
    margin: 0 0.25em;
    padding: 0 0.5em;
    background-color: #f71735;
    height: 2.2em;
    width: auto;
    font-size: 1rem;
    color: #090446;
    border-style: hidden;
    border-radius: 35px;
}

.orangeButton:hover {
    background-color: #c5122a;
}

::placeholder {
    color: rgb(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
    body {
        background-image: none;
        background-color: #222831;
    }

    .homeButton {
        margin-left: 0;
        margin: 0.5em  0.5em;
    }
}