.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
}

.formSet {
    margin: 0.25em 0;
    display: flex;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
}

.formBox {
    padding: 0.25em 0.5em;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #090446;
    margin-left: 1em;
}

#boxHeight {
    width: 20em;
    height: 10em;
}

#lengthBox {
    width: 3em;
}

.alert {
    font-size: 0.75rem;
    margin-top: 1em;
    align-self: center;
}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    color: #090446;
    background-color: #f71735;
    border-radius: 3px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    color: #090446;
    background-color: #f71735;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .form {
        font-size: 1rem;
    }

    .formSet {
        flex-direction: column;
        margin: 0.5em 0;
    }

    #boxHeight {
        width: 90%;
        height: 10em;
    }

    .formBox {
        margin-left: 0;
        font-size: 1rem;
    }
}

@media (min-width: 1367px) {
    .form {
        font-size: 1.2rem;
    }
    
    .formBox {
        font-size: 1.2rem;
    }
    
}