.detailContainer {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.boxContainer {
    margin-top: 1em;
    background-color: rgb(0, 173, 181, 0.7);
    border-style: solid;
    border-width: 1px;
    border-color: #222831;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.boxContainer h1 {
    margin-top: 0.5em;
}

.activitiesColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activitiesTitle {
    margin-top: 1em;
    color: #000;
}

.activitiesContainer {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 173, 181, 0.7);
    border-style: solid;
    border-width: 1px;
    border-color: #222831;
    border-radius: 5px;
}

.activitiesRow {
    display: flex;
}

.activityBox {
    background-color: transparent;
    min-width: 10em;
    padding: 0.5em 0.5em;
    margin: 1em 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 5px;
}

.activityBox:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.4);
}

.emptyList {
    background-color: transparent;
    width: 20em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    color: #000;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .boxContainer {
        width: 90%;
    }
    
    .pageHeader {
        margin-bottom: 1em;
    }

    .activitiesRow {
        flex-direction: column;
    }

    .emptyList {
        width: 100%;
        margin-bottom: 1em;
    }

    .boxContainer h1 {
        width: 100%;
        text-align: center;
    }
}