.rowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2em;
}

@media (max-width: 768px) {
    .rowContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}