.formContainer {
    display: flex;
    margin-top: 0.5em;
}

.searchButton {
    margin: 0 0.25em;
    padding: 0 0.5em;
    background-color: #f71735;
    height: 2.2em;
    width: auto;
    font-size: 1rem;
    color: #090446;
    border-style: hidden;
    border-radius: 35px;
}

.searchButton:hover {
    background-color: #c5122a;
}

.filterSelect {
    margin: 0 0.25em;
    padding: 0 0.5em;
    background-color: transparent;
    height: 2.2em;
    width: auto;
    font-size: 1rem;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5em;
    }

    .selectButtons{
        display: flex;
        flex-direction: column;
    }
    
    .selectButton {
        margin: 0.5em 0;
    }
}