.cardContainer {
    background-color: #f3f3f3;
    max-width: 20em;
    margin: 1em 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: #c5c5c5;
    border-radius: 10px;
}

.cardContainer:hover {
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.3);
}

.cardFlag {
    margin-bottom: 1em;
    width: 20em;
    height: 12.5em;
    border-radius: 10px 10px 0 0;
}

.cardTitle {
    margin: 0.25em 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    color: #090446;
    font-weight: bold;
}

.cardText {
    margin: 0.25em 0;
    display: flex;
    justify-content: center;
    color: #090446;
}

.seeMore {
    width: 15em;
    margin: 0.25em 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f71735;
    font-size: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: #f71735;
    border-radius: 5px;
}

.seeMore:link, .seeMore:visited, .seeMore:active {
    text-decoration: none;
    color: #f71735;
}

@media (max-width: 768px) {
    .cardFlag {
        min-width: 100%;
        max-width: 100%;
    }
}