.cardContainer {
    background-color: #393e46;
    max-width: 20em;
    margin: 1em 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #222831;
    border-radius: 5px;
}

.cardContainer:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.4);
}

.cardFlag {
    min-width: 20em;
    max-width: 20em;
    height: 12.5em;
    padding-bottom: 1em;
    border-radius: 5px;
}

.cardText {
    display: flex;
    justify-content: center;
    color: #eeeeee;
}

.seeMore {
    display: flex;
    justify-content: center;
    color: #eeeeee;
}

.seeMore:link, .seeMore:visited, .seeMore:active {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px) {
    .cardContainer {
        max-width: 90%;
    }

    .cardFlag {
        min-width: 100%;
        max-width: 100%;
    }
}